<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "flex flex-col pt-3 md:pt-8" } do |f| %>
  <div class="flex flex-col pt-4">
    <%= f.label :email, class: "text-lg text-black" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="flex flex-col pt-4">
    <%= f.label :password, class: "text-lg text-black" %><br/>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
  <!--    <div class="field">-->
  <%#= f.check_box :remember_me %>
  <%#= f.label :remember_me, class: "text-lg text-black" %>
  <!--    </div>-->
  <%# end %>

  <%= f.submit "Log in", class: "bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8" %>
<% end %>

<!--<div class="text-center pt-12 pb-12 text-black">-->
  <%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
<!--    <p>Don't have an-->
<!--      account? <%#= link_to "Sign up", new_registration_path(resource_name), class: "underline font-semibold" %></p>-->
  <%# end %>
<!--</div>-->


<%#= render "devise/shared/links" %>
