<!DOCTYPE html>
<html>
<head>
  <title>BoilerplateInit</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="w-full flex flex-wrap">
  <div class="drawer">
    <input id="my-drawer" type="checkbox" class="drawer-toggle"/>
    <div class="drawer-content mx-4">
      <!-- Page content here -->
      <div class="navbar bg-base-100 shadow-md">
        <div class="flex-none">
          <label for="my-drawer" class="btn btn-ghost drawer-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </label>
        </div>
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">WAB Enterprise</a>
        </div>
      </div>
      <div class="mx-8 mt-4">
        <%= yield %>
      </div>
    </div>
    <div class="drawer-side">
      <label for="my-drawer" class="drawer-overlay"></label>
      <ul class="menu p-4 overflow-y-auto w-60 bg-base-100 text-base-content">
        <!-- Sidebar content here -->
        <p class="mb-4">WAB Enterprise</p>
        <li><a>Sidebar Item 1</a></li>
        <li><a>Sidebar Item 2</a></li>
        <%= button_to 'Logout', destroy_auth_session_path, method: :delete, class: "btn btn-sm mt-16 mx-auto" %>
      </ul>
    </div>
  </div>
</div>
</div>
</body>
</html>
